{% extends 'base.html' %}
{% load static %}
{% load hls_extras %}

{% block title %} Healthcare | Главная {% endblock %}

{% block navbar %}
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'care' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'stats' %}">Статистика</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'settings' %}">Настройки</a>
            </li>
          </ul>
        </div>
        <div class="navbar-text mx-4 text-light">
            Привет, {{ user.name }}. Cегодня: {% now "d.m.y" %}
        </div>
        <span class="navbar-text mx-4">
          <a href="{% url 'logout' %}" class="text-light" style="text-decoration: none;"><u>Выйти</u></a>
        </span>
{% endblock %}

{% block content %}
    <div class="justify-content-center d-flex mt-4">
          <div class="card text-white bg-dark col-6 mx-3">
              <h5 class="card-header">Питание</h5>
              <div class="card-body">
                <div class="justify-content-between d-flex mt-2 mb-4 me-2 align-items-center">
                  <div class="col-8 mx-2">
                      <p class="fs-5">Потребление калорий: {{ summed_food.caloricity }} / {{ user.consumption_norm }} Ккал</p>
                      <div class="progress" style="height: 30px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ summed_food.caloricity|calc_procent:user.consumption_norm }}%; background-color: #CA45DF;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ summed_food.caloricity|calc_procent:user.consumption_norm }}%</div>
                      </div>
                  </div>
                  {% if summed_starv.is_active %}
                    <div class="col-4 mx-2">
                    <button type="button" class="btn btn-dark text-dark px-3 py-2 ms-5 my-2" style="background-color: #CA45DF;" data-bs-toggle="modal" data-bs-target="#bogusModal">Добавить!</button>
                  </div>
                  {% else %}
                  <div class="col-4 mx-2">
                    <button type="button" class="btn btn-dark text-dark px-3 py-2 ms-5 my-2" style="background-color: #CA45DF;" data-bs-toggle="modal" data-bs-target="#addMealModal">Добавить!</button>
                  </div>
                  {% endif %}
                </div>
                <div class="d-flex justify-content-start my-2 align-items-center">
                  <div class="col-2 ms-2 me-5">Белки</div>
                  <div class="col-9 me-2">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: {{ summed_food.proteins|calc_protein_procent:user.consumption_norm }}%; background-color: #CA45DF;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </div>
                </div>
                <div class="d-flex justify-content-start my-2 align-items-center">
                  <div class="col-2 ms-2 me-5">Жиры</div>
                  <div class="col-9 me-2">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: {{ summed_food.fats|calc_fat_procent:user.consumption_norm }}%; background-color: #CA45DF;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </div>
                </div>
                <div class="d-flex justify-content-start my-2 align-items-center">
                  <div class="col-2 ms-2 me-5">Углеводы</div>
                  <div class="col-9 me-2">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: {{ summed_food.carbohydrates|calc_hydrate_procent:user.consumption_norm }}%; background-color: #CA45DF;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </div>
                </div>
                <hr>
                <div class="justify-content-between d-flex my-2 align-items-center">
                    <div class="col-6 mx-2">
                        <div class="fs-5">Таймер голодания</div>
                    </div>
                    {% if summed_starv.is_active %}
                    <div class="col-6 justify-content-center mx-2 d-flex align-items-center">
                        <div class="col-3 fs-5 me-2">осталось </div>
                        <div id="timer-hours" class="col-1 fs-5 ms-1"></div>
                        :<div id="timer-mins" class="col-1 fs-5 ms-1"></div>
                        :<div id="timer-secs" class="col-1 fs-5 ms-1"></div>
                    </div>
                    {% else %}
                    <div class="col-6 mx-2">
                        <form method="post" class="d-flex">
                            {% csrf_token %}
                            {{ starvation_form.non_field_errors }}
                            <div class="col-6 ms-5">
                                {{ starvation_form.duration }}
                            </div>
                            <div class="col-6 mx-2"><button type="submit" class="btn btn-dark text-dark" style="background-color: #CA45DF;" name="addStarvationBtn">Начать!</button></div>
                        </form>
                    </div>
                    {% endif %}
                </div>
              </div>
            </div>
        <div class="card text-white bg-dark col-5 mx-3">
          <h5 class="card-header">Активность</h5>
          <div class="card-body">
                <div class="justify-content-between d-flex my-2 align-items-center">
                  <div class="col-8 mx-2">
                      <div class="fs-5">Дневная активность: сожжено {{ summed_sport.caloricity }} Ккал</div>
                  </div>
                  <div class="col-3 mx-2">
                    <button type="button" class="btn btn-dark text-dark px-3 py-2 mx-2 my-2" style="background-color: #CA45DF;" data-bs-toggle="modal" data-bs-target="#addSportModal">Добавить!</button>
                  </div>
                </div>
                <hr>
                <div class="justify-content-start d-flex my-2 align-items-center">
                   <div class="col-5 mx-2">
                      <div class="fs-5">Пройдено: <br> {{ summed_sport.steps }} / {{ user.activity_norm }} шагов</div>
                  </div> 
                  <div class="col-6 mx-4">
                      <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ summed_sport.steps|calc_procent:user.activity_norm }}%; background-color: #CA45DF;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ summed_sport.steps|calc_procent:user.activity_norm }}%</div>
                      </div>
                  </div>
                </div>
                <hr>
                <div class="justify-content-start d-flex my-2 align-items-center">
                   <div class="col-12 mx-2">
                      <div class="fs-5">Актуальный ИМТ: {{ user.BMI }}
                          {% if user.BMI <= 16 %}
                                <br> Выраженный дефицит массы тела
                          {% elif user.BMI <= 18.5 %}
                                <br> Дефицит массы тела
                          {% elif user.BMI <= 25 %}
                                <br> Нормальная масса тела
                          {% elif user.BMI <= 30 %}
                                <br> Избыточная масса тела (предожирение)
                          {% elif user.BMI <= 35 %}
                                <br> Ожирение первой степени
                          {% elif user.BMI <= 40 %}
                                <br> Ожирение второй степени
                          {% elif user.BMI > 40 %}
                                <br> Ожирение третьей степени
                          {% endif %}
                      </div>
                  </div>
                </div>
                <hr>
                  <div class="d-flex my-2 align-items-center">
                       <div class="col-12 mx-2">
                              {% if user.somatotype == 'эктоморф' %}
                              <div class="fs-5">Соматотип: {{ user.somatotype }}
                                <div style="font-size: 70%;">
                                <b>Плюсы:</b> способность быстро накачать пресс.
                                <br><b>Минусы:</b> сложность набора массы.
                                <br><b>Рекомендации:</b> редкие интенсивные тренировки с низким количеством повторений, внимание к углеводному окну сразу после тренировки
                                </div>
                              </div>
                              {% elif user.somatotype == 'мезоморф' %}
                              <div class="fs-5">Соматотип: {{ user.somatotype }}
                                <div style="font-size: 70%;">
                                <b>Плюсы:</b> атлетические способности (требуется меньше времени на восстановление), хороший метаболизм (у мужчин: высокий уровень тестостерона).
                                <br><b>Минусы:</b> склонность к повышению холестирина и возможные проблемы с сосудами.
                                <br><b>Рекомендации:</b> базовые программы тренировок, переход со временем на сплит-систему тренировок
                                </div>
                              </div>
                              {% elif user.somatotype == 'эндоморф' %}
                              <div class="fs-5">Соматотип: {{ user.somatotype }}
                                <div style="font-size: 70%;">
                                <b>Плюсы:</b> мощность костей, высокая выносливость.
                                <br><b>Минусы:</b> склонность к полноте, замедленный метаболизм.
                                <br><b>Рекомендации:</b> круговые тренировки, наблюдение за гликемическим индексом углеводов, перед тренировками (за 30-40 минут до тренировки) рекомендуется небольная порция быстрых углеводов для большей энергии при тренировке
                                </div>
                              </div>
                              {% elif user.somatotype == 'не определен' %}
                              <div class="fs-5">Соматотип: <a href="{% url 'settings' %}" class="text-light">определить</a>
                                <div style="font-size: 70%;">
                                    (добавьте в профиль информацию об обхвате запястья)
                                </div>
                              </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="addMealModal" tabindex="-1" aria-labelledby="mealModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content text-light bg-dark">
                          <div class="modal-header">
                            <h5 class="modal-title" id="meallModalLabel">Прием пищи</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form method="post">
                          {% csrf_token %}
                          {{ meal_form.non_field_errors }}
                          <div class="modal-body">
                                    {% for field in meal_form %}
                                    <div class="mb-3">
                                        <div class="my-1">{{ field.label_tag }}</div>
                                        <div>{{ field }}</div>
                                        {% if field.errors %}
                                         <div class="invalid-feedback">
                                          {% for err in field.errors %}
                                            <div>{{ err }}</div>
                                          {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-dark text-dark" data-bs-dismiss="modal" style="background-color: #CA45DF;" name="addMealBtn">Добавить</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
    <div class="modal fade" id="addSportModal" tabindex="-1" aria-labelledby="sportModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content text-light bg-dark">
                          <div class="modal-header">
                            <h5 class="modal-title" id="sportModalLabel">Физическая активность</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form method="post">
                          {% csrf_token %}
                          {{ sport_form.non_field_errors }}
                          <div class="modal-body">
                                    {% for field in sport_form %}
                                    <div class="mb-3">
                                        <div class="my-1">{{ field.label_tag }}</div>
                                        <div>{{ field }}</div>
                                        {% if field.errors %}
                                         <div class="invalid-feedback">
                                          {% for err in field.errors %}
                                            <div>{{ err }}</div>
                                          {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-dark text-dark" data-bs-dismiss="modal" style="background-color: #CA45DF;" name="addSportBtn">Добавить</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
    <div class="modal fade" id="bogusModal" tabindex="-1" aria-labelledby="bogusModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content text-light bg-dark">
                          <div class="modal-header">
                            <h5 class="modal-title" id="bogusModalLabel">Что это ты удумал?</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Решился голодать - нечего жрать!
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark text-dark" data-bs-dismiss="modal" style="background-color: #CA45DF;" name="bogusBtn">:(</button>
                          </div>
                        </div>
                      </div>
                    </div>
{% endblock %}
{% block scripts %}
<script>
    var deadline = String("{{ summed_starv.finished_at }}");
    var endDate = new Date(deadline).getTime();
    var timer = setInterval(function() {
        let now = new Date().getTime();
        let t = endDate - now;

        if (t >= 0) {

            let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let mins = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            let secs = Math.floor((t % (1000 * 60)) / 1000);

            document.getElementById("timer-hours").innerHTML = ("0"+hours).slice(-2);
            document.getElementById("timer-mins").innerHTML = ("0"+mins).slice(-2);
            document.getElementById("timer-secs").innerHTML = ("0"+secs).slice(-2);

        }
    }, 1000);
</script>
{% endblock %}
