{% extends 'base.html' %}
{% load static %}

{% block title %} Healthcare | Войти {% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center mt-4">
        <div class="card col-4 text-white bg-dark mb-3">
          <div class="card-header fw-bold fs-4">
            Авторизация
          </div>
          <div class="card-body">
              <form method="post">
              {% csrf_token %}
              {{ form.non_field_errors }}
              {% for field in form %}
                <div class="row g-3 align-items-center my-2 justify-content-between">
                  <div class="col-auto">
                    {{ field.label_tag }}
                  </div>
                  <div class="col-9">
                    {{ field }}
                    {% if field.errors %}
                     <div class="invalid-feedback">
                      {% for err in field.errors %}
                        <div>{{ err }}</div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-dark text-dark px-3 py-2" style="background-color: #CA45DF;">
                    Войти
                </button>
              </div>
              </form>
          </div>
          <div class="card-footer text-center">
            <div class="justify-content-between d-flex">
                <div class="col-5"><button type="button" class="btn btn-link text-light">Забыли пароль?</button></div>
                <div class="col-7"><button type="button" class="btn btn-link"><a href="{% url 'register' %}" class="text-light">Еще не зарегестрированы?</a></button></div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
